@import url("https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic&display=swap");

@import url("https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic&display=swap");

@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 16px;
  color: #9A9A9A;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 103px;
  height: 43px;
  padding: 12px 24px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 118.75%;
  background-color: #ff5722;
  -webkit-box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
          box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
}

.btn_white {
  color: #ff5722;
  background: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

._ibg {
  position: relative;
}

._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.line-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222831;
  font-size: 20px;
  line-height: 150%;
}

.line-title::after {
  content: "";
  display: inline-block;
  margin: 0 0 0 25px;
  width: 73px;
  height: 2px;
  background: #222831;
}

.line-title_white::after {
  content: "";
  background: white;
}

.title {
  font-family: Lora;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #10375C;
}

.subtitle {
  font-size: 18px;
  line-height: 175%;
}

.header {
  padding: 61px 0 0 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  margin: 0 40px 0 0;
}

.menu__link a {
  color: #222831;
  line-height: 175%;
  font-weight: 700;
}

.menu__link:last-child {
  margin: 0 0px 0 0;
}

.actions-header {
  position: relative;
  z-index: 5;
}

.icon__menu {
  display: none;
}

.footer {
  background: #0D2C4A;
}

.footer__container {
  color: #F8F8F8;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15.75%;
          flex: 0 1 15.75%;
  margin: 86px 0 0 0;
}

.footer__title-bottom {
  font-family: Lora;
  font-size: 52px;
  line-height: 128.84615%;
  font-weight: 700;
  margin: 0 0 16px 0;
}

.footer__text {
  max-width: 255px;
  line-height: 162.5%;
  margin: 0 0 24px 0;
}

.footer__icon a {
  margin: 0 16px 0 0;
}

.footer__subtitle {
  margin: 0 0 24px 0;
}

.footer__link {
  line-height: 162.5%;
  margin: 0 0 9px 0;
}

.footer__link a {
  color: white;
}

.column-first {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 37%;
          flex: 0 1 37%;
  margin: 56px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._container {
  max-width: 1110px;
  margin: 0 auto;
}

.top-content__title-line {
  margin: 56px 0 8px 0;
}

.top-content__block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-content__title-top {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 667px;
          flex: 0 1 667px;
  font-family: lora;
  font-weight: 700;
  font-size: 52px;
  line-height: 128.84615%;
  color: #10375C;
}

.top-content__title-top span {
  color: #dd2c00;
}

.top-content__subtitle-top {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 382px;
          flex: 0 1 382px;
  font-size: 20px;
  line-height: 150%;
  color: #6A6A6A;
}

.our-spaces {
  margin: 112px 0 0 0;
}

.our-spaces__header {
  margin: 0 0 52px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-spaces__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.our-spaces__subtitle {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.our-spaces__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.our-spaces__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 0 15px;
}

.our-spaces__image {
  position: relative;
  max-width: 100%;
  padding: 0 0 120% 0;
  margin: 0 0 25px 0;
}

.our-spaces__image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 72px;
  height: 72px;
  background: #FF5722 url("../img/our-cpaces/icn.svg") center no-repeat;
}

.our-spaces__text {
  text-align: center;
}

.middle {
  min-height: 467px;
  background: #10375C url("../img/our-cpaces/2.svg") 244px 16px no-repeat;
  position: relative;
}

.middle__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 134px 57px 0 57px;
}

.middle__title {
  font-family: lora;
  font-size: 32px;
  line-height: 128.125%;
  color: #FFFFFF;
  margin: 0 0 14px 0;
}

.middle__text {
  font-size: 18px;
  line-height: 155.55556%;
  color: #FFFFFF;
}

.middle__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 72px;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
  line-height: 122.22222%;
  background: #FF5722;
  padding: 0 20px 0 54px;
}

.middle__button span {
  background: url("../img/our-cpaces/icn.svg") right no-repeat;
  display: inline-block;
  padding: 0 60px 0 0;
}

.why-frispes {
  margin: 112px 0 50px 0;
}

.why-frispes__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 570px;
          flex: 0 1 570px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.support__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 0 64px 0;
}

.support__icon {
  margin: 0 15px 0 0;
}

.support__title {
  color: #10375C;
  font-size: 32px;
  line-height: 128.125%;
  font-family: Lora;
  margin: 0 0 8px 0;
}

.support__text {
  line-height: 162.5%;
}

.frispes-why {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 540px;
          flex: 0 1 540px;
  background: #10375C;
  color: white;
  padding: 53px;
}

.frispes-why__title-line {
  color: white;
  margin: 0 0 8px 0;
}

.frispes-why__title {
  color: white;
  margin: 0 0 24px 0;
}

.frispes-why__text {
  font-size: 20px;
  line-height: 150%;
}

.uses__title {
  text-align: center;
  margin: 0 0 24px 0;
}

.uses__subtitle {
  text-align: center;
  margin: 0 0 56px 0;
}

.uses__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customer {
  margin: 143px 0 0 0;
}

.customer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 399px;
  margin: 0 0 56px 0;
}

.customer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.customer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 0 15px;
  background: #10375C;
  color: #FFFFFF;
  padding: 40px;
  min-height: 393px;
}

.customer__text {
  line-height: 162.5%;
}

.customer__person {
  padding: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.person__image {
  margin: 0 16px 0 0;
}

.person__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 155.55556%;
  margin: 0 0 4px 0;
}

.person__position {
  line-height: 162.5%;
}

.news {
  margin: 36px 0 0 0;
  background: #F8F8F8;
}

.news__title {
  padding: 60px 0 56px 0;
}

.news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  padding: 0 0 76px 0;
}

.news__column {
  padding: 15px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.news__content {
  padding: 15px 0 15px 15px;
  background: #FFFFFF;
}

.news__subtitle {
  color: #222831;
  font-family: Lora;
  font-size: 22px;
  line-height: 127.27273%;
  margin: 0 0 4px 0;
}

.news__name {
  line-height: 162.5%;
}

.column-long {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.666%;
          flex: 0 1 66.666%;
}

.column-long__content {
  padding: 32px;
  background: #FFFFFF;
}

.column-long__title {
  font-family: Lora;
  font-weight: 700;
  font-size: 32px;
  line-height: 128.125%;
  color: #222831;
  margin: 0 0 32px 0;
}

.column-long__text {
  line-height: 162.5%;
  margin: 0 0 16px 0;
}

.column-long__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.name-blue {
  color: #10375C;
}

.position-white {
  color: #9A9A9A;
}

@media (max-width: 1130px) {
  .header__container {
    max-width: 950px;
  }

  .footer__container {
    max-width: 950px;
  }

  .top-content__container {
    max-width: 950px;
  }

  .top-content__title-top {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.666%;
            flex: 0 1 66.666%;
  }

  .top-content__subtitle-top {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .our-spaces__container {
    max-width: 950px;
  }

  .middle {
    background: #10375C url("../img/our-cpaces/2.svg") 190px 16px no-repeat;
  }

  .why-frispes__container {
    max-width: 950px;
  }

  .uses__container {
    max-width: 950px;
  }

  .customer__container {
    max-width: 950px;
  }

  .news__container {
    max-width: 950px;
  }

  .news__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .column-long {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }
}

@media (max-width: 980px) {
  .header__container {
    max-width: 750px;
  }

  .menu__link {
    margin: 0 27px 0 0;
  }

  .actions-header__button {
    width: 75px;
  }

  .footer__container {
    max-width: 750px;
  }

  .top-content__container {
    max-width: 750px;
  }

  .top-content__title-top {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.666%;
            flex: 0 1 66.666%;
  }

  .top-content__subtitle-top {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .our-spaces__container {
    max-width: 750px;
  }

  .our-spaces__header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .middle {
    background: #10375C url("../img/our-cpaces/2.svg") 125px 16px no-repeat;
    min-height: 346px;
  }

  .middle__content {
    padding: 40px 27px 0 27px;
  }

  .why-frispes__container {
    max-width: 750px;
  }

  .support__icon {
    margin: 0 10px 0 0;
  }

  .frispes-why {
    padding: 33px;
  }

  .uses__container {
    max-width: 750px;
  }

  .uses__list {
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .uses__link {
    margin: 0 30px 0 0;
  }

  .customer {
    margin: 70px 0 0 0;
  }

  .customer__container {
    max-width: 750px;
  }

  .customer__title {
    margin: 0 0 26px 0;
  }

  .customer__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 15 0px;
  }

  .customer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 15px 0px;
    min-height: 250px;
    padding: 30px;
  }

  .news__container {
    max-width: 750px;
  }

  .news__title {
    padding: 30px 0 36px 0;
  }

  .column-long {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 800px) {
  .customer__container {
    /* max-width:none; */
    padding: 0px 10px;
  }

  .customer__block {
    max-width: none;
    margin: 0 0px;
  }

  .customer__column {
    max-width: none;
    margin: 10px 0px;
  }
}

@media (max-width: 770px) {
  .title {
    font-size: 35px;
  }

  .header__container {
    max-width: none;
    padding: 0 10px;
    background-color: white;
  }

  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .menu__body {
    display: none;
    position: relative;
    z-index: 3;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 90px 0 0 0;
  }

  .menu__list {
    display: block;
  }

  .menu__link {
    margin: 0 0px 20px 0;
    font-size: 25px;
    text-align: center;
  }

  .actions-header {
    margin: 0 20px 0 0;
  }

  .icon__menu {
    display: block;
    position: relative;
    z-index: 5;
    height: 20px;
    width: 30px;
  }

  .icon__menu span {
    background-color: black;
    position: absolute;
    height: 10%;
    width: 100%;
    top: 50%;
    margin: -5% 0 0 0;
  }

  .icon__menu span:first-child {
    top: 0;
  }

  .icon__menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .footer__container {
    max-width: none;
    padding: 0 10px;
  }

  .footer__items {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    padding: 0 20px;
    margin: 30px 0;
  }

  .column-first {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 16px;
  }

  .top-content__container {
    max-width: none;
    padding: 0 10px;
  }

  .top-content__title-line {
    margin: 36px 0 8px 0;
  }

  .top-content__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .top-content__title-top {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0 0 40px 0;
    text-align: center;
  }

  .top-content__subtitle-top {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .our-spaces__container {
    max-width: none;
    padding: 0 10px;
  }

  .our-spaces__header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .our-spaces__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
  }

  .our-spaces__subtitle {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .our-spaces__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .our-spaces__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 20px 20px;
    margin: 0;
    max-width: 750px;
  }

  .our-spaces__text {
    font-size: 22px;
  }

  .middle {
    max-height: 476px;
    background: #10375C url("../img/our-cpaces/2.svg") 605px 16px no-repeat;
  }

  .middle__content {
    padding: 125px 57px 0 57px;
  }

  .middle__title {
    font-size: 32px;
  }

  .middle__text {
    font-size: 22px;
  }

  .why-frispes {
    margin: 5px 0 0px 0;
  }

  .why-frispes__container {
    max-width: none;
    padding: 0 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .support {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 760px;
            flex: 0 1 760px;
    padding: 0 20px;
    margin: 50px 0 0 0;
  }

  .support {
    padding: 10px;
    margin: 20px 0 0 0;
  }

  .support__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    margin: 0 0px 50px 0;
  }

  .frispes-why {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .uses__container {
    max-width: none;
    padding: 0 10px;
  }

  .uses__title {
    margin: 35px 0 15px 0;
  }

  .news__container {
    max-width: none;
    padding: 0 10px;
  }

  .news__title {
    padding: 30px 0 26px 0;
  }

  .news__column {
    margin: 0 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .news__image img {
    width: 100%;
  }

  .column-long {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .column-long__image img {
    max-width: 100%;
  }

  .column-long__content {
    max-width: 350px;
  }
}

@media (max-width: 760px) {
  .header {
    padding: 25px 0 0 0;
  }
}

@media (max-width: 600px) {
  .support {
    padding: 0 0 0 10px;
  }

  .support__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0 0px 50px 0;
  }
}

@media (max-width: 570px) {
  .middle__content {
    padding: 10px 57px 0 57px;
  }
}

@media (max-width: 545px) {
  .uses__list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .uses__link {
    margin: 15px 30px 0 0;
  }
}

@media (max-width: 400px) {
  .top-content__title-top {
    font-size: 42px;
  }
}

@media (max-width: 385px) {
  .uses__subtitle {
    margin: 0 0 26px 0;
  }

  .uses__link {
    margin: 15px 0 0 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}